<% include base/head.ejs %>
<main class="home">
  <div class="login">
    <form>
      <label>Kies je gebruikersnaam</label>
      <input type="text" />
      <input type="submit" value="Ga door" />
    </form>
  </div>
  <div class="loged-in">
    <ul class="list">
      
    </ul>
  </div>
</main>
<% include base/footer.ejs %>
