.login{ width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;
  &.inactive{ display: none; }
}
.loged-in{ display: none;
  &.active{ width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;}
}
